<header>
    <nav class="sticky-top py-1">
        <div class="container d-flex flex-column flex-md-row justify-content-between">
            <a class="" routerLink="dashboard" >Minhas Moedas</a>
            <a class="" routerLink="/transferir-moedas">Transferir</a>
            <a class="" routerLink="/minhas-transferencias">Minhas Transferências</a>
            <a class="" routerLink="/transferencias">Transferências</a>
            <a class="" routerLink="">Recompensas</a>
        </div>
    </nav>
</header>
