<div class="content">
  <div class="container">
    <div class="row">
      <div class="col">

      </div>
      <div class="titulo col-4">
        <h3 class="text-center">Todas as Transferências</h3>
        <hr />
      </div>
      <div class="col">

      </div>
    </div>
  </div>
  <table class="table">
    <tr>
      <th>doador</th>
      <th>recebedor</th>
      <th>valor</th>
      <th>Motivo</th>
    </tr>
    <tr *ngFor="let transf of transferencias">
      <td>{{transf.doador.nome}}</td>
      <td>{{transf.recebedor.nome}}</td>
      <td>{{transf.qtdcoinstransf}}</td>
      <td>{{transf.motivo}}</td>
    </tr>
  </table>
</div>