
<mat-card class="containerformpessoa">
  <mat-card-title>
    Faça o seu Cadastro
  </mat-card-title>
  <mat-card-content>
    <form [formGroup]="formpessoa" (submit)="onSubmit()" >
      <mat-form-field appearance="outline">
        <input matInput type="text" placeholder="Digite seu nome" formControlName="nome"/>
        <mat-icon matSuffix>face</mat-icon>
        <mat-error *ngIf="formpessoa.controls.nome.invalid"> {{getErrorMessage(formpessoa.controls.nome)}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input matInput type="email" placeholder="Digite o email" formControlName="email"/>
        <mat-error *ngIf="formpessoa.controls.email.invalid">{{getErrorMessage(formpessoa.controls.email)}}</mat-error>
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input matInput type="password" placeholder="Digite a senha" formControlName="senha"/>
        <mat-icon matSuffix>lock</mat-icon>
        <mat-error *ngIf="formpessoa.controls.senha.invalid">{{getErrorMessage(formpessoa.controls.senha)}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input matInput type="password" placeholder="Confirme sua senha" formControlName="confirmaSenha"/>
        <mat-icon matSuffix>lock</mat-icon>
        <mat-error *ngIf="formpessoa.controls.confirmaSenha.invalid">{{getErrorMessage(formpessoa.controls.confirmaSenha)}}</mat-error>
      </mat-form-field>

      <button mat-raised-button  color="primary" type="submit">Cadastrar
        <mat-icon>add</mat-icon>
      </button>
      <button mat-raised-button type="reset" color="warn">Cancelar
        <mat-icon>clear</mat-icon>
      </button>
    </form>
  </mat-card-content>
</mat-card>