<div class="container">
  <div class="row">
    <div class="col">

    </div>
    <div class="titulo col-4">
      <h3 class="text-center">Recompensas</h3>
      <hr />
    </div>
    <div class="col">

    </div>
  </div>
  <div class="row">
    <div class="col">

    </div>
    <div class="col">
      
    </div>
    <div class="col">

    </div>
  </div>

  <div class="row">
    <div class="col">
    </div>
    <div class="col-8">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>
              <input type="checkbox">
            </th>
            <th>Doador</th>
            <th>Remetente</th>
            <th>Quantidade</th>
            <th>Motivo</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <input type="checkbox">
            </td>
            <td>Lala</td>
            <td>Lulu</td>
            <td>26</td>
            <td>Teste do motivo</td>
          </tr>
          <tr>
            <td>
              <input type="checkbox">
            </td>
            <td>Vanderlei</td>
            <td>Remetente</td>
            <td>Quantidade</td>
            <td>Motivo</td>
          </tr>
          <tr>
            <td>
              <input type="checkbox">
            </td>
            <td>Lala</td>
            <td>Lulu</td>
            <td>26</td>
            <td>Teste do motivo</td>
          </tr>
          <tr>
            <td>
              <input type="checkbox">
            </td>
            <td>Vanderlei</td>
            <td>Remetente</td>
            <td>Quantidade</td>
            <td>Motivo</td>
          </tr>
        </tbody>
      </table>

      <button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>
    </div>
    <div class="col">
    </div>
  </div>
</div>