<div class="container-moedas">
    <mat-card>
        <mat-card-title>Merits Recebidos</mat-card-title>
        <mat-card-content>
            <circle-progress
                    [percent]="(pessoa.qtdcoins)"
                    [radius]="65"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="4"
                    [outerStrokeColor]="'#3d2dc0'"
                    [innerStrokeColor]="'#b1b5e5'"
                    [animation]="true"
                    [animationDuration]="1000"
                    [subtitle]="'Merits'"
                    [units] = "'M$'"
            ></circle-progress>
        </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title>Merits para Doar</mat-card-title>
        <mat-card-content>
            <circle-progress
                    [percent]="(pessoa.qtdcoinstransf)"
                    [radius]="65"
                    [outerStrokeWidth]="10"
                    [innerStrokeWidth]="4"
                    [outerStrokeColor]="'#3d2dc0'"
                    [innerStrokeColor]="'#b1b5e5'"
                    [animation]= true
                    [animationDuration]="1000"
                    [subtitle]="'Merits'"
                    [units] = "'M$'"
                    [startFromZero] = "false"
            ></circle-progress>
        </mat-card-content>
    </mat-card>
</div>