<mat-card class="container-transferir">
    <mat-card-title>Tranferências</mat-card-title>
    <mat-card-content>
        <form [formGroup]="formtransf" (submit)="onSubmit()">
            <mat-vertical-stepper linear>
                <mat-step  state="pessoa">
                    <ng-template matStepLabel> Selecione para quem vai a tranferência</ng-template>
                    <mat-form-field appearance="outline" class="entrada">
                        <mat-label>Pessoa que vai receber</mat-label>
                        <mat-select formControlName="recebedor">
                            <mat-option [value]=""></mat-option>
                            <mat-option *ngFor="let pessoa of pessoas" [value]="pessoa._id">{{ pessoa.nome }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperNext type="button">Proximo</button>
                    </div>
                </mat-step>
                <mat-step formGroupName="dinheiro" state="valor">
                    <ng-template matStepLabel> Digite o valor da tranferência</ng-template>
                    <mat-form-field appearance="outline" class="entrada">
                        <input matInput type="number" formControlName="valor">
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperPrevious type="button">Anterior</button>
                        <button mat-button matStepperNext type="button">Proximo</button>
                    </div>
                </mat-step>
                <mat-step formGroupName="menssagem" state="motivo">
                    <ng-template matStepLabel> Digite o Motivo da tranferência</ng-template>
                    <mat-form-field appearance="outline" class="entrada">
                        <textarea matInput formControlName="motivo"></textarea>
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperPrevious type="button">Anterior</button>
                        <button mat-button matStepperNext type="button">Proximo</button>
                    </div>
                </mat-step>
                <mat-step state="checar">
                    <ng-template matStepLabel> Confirme os dados e finalise a transferência</ng-template>
                    <p>Recebedor :{{formtransf.value | json}}</p>
                    <p>Valor: M$</p>
                    <p>Motivo: </p>
                    <div>
                        <button mat-button matStepperPrevious type="button">Voltar</button>
                        <button mat-button matStepperNext type="submit">Transferir</button>
                    </div>
                </mat-step>

                <ng-template matStepperIcon="pessoa">
                    <mat-icon>face</mat-icon>
                </ng-template>
                <ng-template matStepperIcon="valor">
                    <mat-icon>local_atm</mat-icon>
                </ng-template>
                <ng-template matStepperIcon="motivo">
                    <mat-icon>message</mat-icon>
                </ng-template>
                <ng-template matStepperIcon="checar">
                    <mat-icon>done</mat-icon>
                </ng-template>
            </mat-vertical-stepper>
        </form>
    </mat-card-content>
</mat-card>